/HelloWorld.class
/celsiusToFahrenheit.class
/sumOfTwoNumber.class
/areaOfCircle.class
/volumeOfCylinder.class
/avgOfThreeNumber.class
/calculateSimpleInterest.class
/convertKilometersToMiles.class
/perametierOfRectangel.class
/powerCalculation.class
